<div class="container">
  <br><br><br>
  <h2 align="center">Log IN</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <label for="exampleInputEmail1"><b>Email address</b></label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"exampleInputEmail1" %>
      <small id="emailHelp" class="form-text text-muted"><i><b>We'll never share your email with anyone else.<b></i></small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"><b>Password</b></label>
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"exampleInputPassword1" %>
    </div>
    <div class="form-group form-check">
      <%= f.check_box :remember_me, class:"form-check-input", id:"exampleCheck1" %>
      <label class="form-check-label" for="exampleCheck1"><b>Remember Me</b></label>
    </div>
    <button type="submit" class="btn btn-primary"><b>Confirm Identity</b></button>
  <% end %>
</div>

<style type="text/css">
  body
  {
    background: #282828;
    color: white;
  }
</style>