<p id="notice"><%= notice %></p>
<br><br>
<h2 align="center">Create Food Item</h2>
<br>
<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
