<h1>Dashboard</h1>

<%= link_to "Food Menu", foods_path, class:"btn btn-primary" %>

<%= link_to "Alcohol Menu", alcohols_path, class:"btn btn-primary" %>

<div class="container">
	<ul>
		<li>Food Menu</li>
		<li>Alcohol Menu</li>
	</ul>
</div>