<h1 align="center">Dashboard</h1>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<div class="card">
			<%= image_tag "food.jpg", class:"card-img-top" %>
		  <div class="card-body">
		    <h5 class="card-title">Food Menu</h5>
		    <p class="card-text">Click on the button below to edit the food menu</p>
		    <%= link_to "Food Menu", foods_path, class:"btn btn-primary" %>
		  </div>
		</div>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<div class="card">
			<%= image_tag "alcohol.jpg", class:"card-img-top" %>
		  <div class="card-body">
		    <h5 class="card-title">Alcohol Menu</h5>
		    <p class="card-text">Click on the button below to edit the alcohol menu</p>
		    <%= link_to "Alcohol Menu", alcohols_path, class:"btn btn-primary" %>
		  </div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<style type="text/css">
	body{
  background: #282828;
  color: white;
  font-style: bold;
	}

	.card-body
	{
		color: black;
	}

	.card
	{
		border: 2px solid black;
	}
</style>