<nav class="navbar">
  <a class="navbar-brand" href="#">
    <%= image_tag "navbar.png", width:"50", height:"50", class:"d-inline-block align-top" %>
  </a>
  <% if admin_signed_in? %>
  	<%= link_to('Sign Out', destroy_admin_session_path, :method => :delete) %>
  <% end %>
</nav>